@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../../assets/fonts/OpenSans-Regular.woff2") format("woff2"), url("../../assets/fonts/OpenSans-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../../assets/fonts/OpenSans-Bold.woff2") format("woff2"), url("../../assets/fonts/OpenSans-Bold.woff") format("woff");
  font-display: swap;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button {
  font: inherit;
  outline: none;
  background-color: transparent;
}

fieldset {
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background-color: #F7F8FA;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #000000;
}
@media (min-width: 992px) {
  body {
    font-size: calc(0.0043103448 * 100vw + 9.724137931px);
  }
}
@media (min-width: 1920px) {
  body {
    font-size: 18px;
  }
}
body.no-scroll {
  overflow-y: hidden;
}

.wrapper {
  min-width: 320px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  flex-grow: 1;
}

.container {
  width: 962px;
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .container {
    width: calc(0.5905172414 * 100vw + 376.2068965517px);
  }
}
@media (min-width: 1920px) {
  .container {
    width: 1510px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: none;
  }
}

[class$=__icon],
[class$=-icon] {
  display: flex;
  align-items: center;
}
[class$=__icon] svg path,
[class$=-icon] svg path {
  transition: fill 0.23s ease-in-out, stroke 0.23s ease-in-out;
}

@media (max-width: 992px) {
  .container {
    width: 100%;
  }
}
.header__top {
  background-color: #003F80;
}
.header__top-inner {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header__block {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
}
.header__box {
  display: flex;
  flex-direction: column;
}
.header__box--center {
  margin-left: auto;
  margin-right: auto;
}
.header__phone {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header__phone-inner {
  display: flex;
  flex-direction: column;
}
.header__phone-link {
  font-size: 14px;
  color: #fff;
}
.header__phone-link:hover {
  text-decoration: underline;
}
.header__tel {
  font-weight: 600;
  font-size: 16px;
  transition: color 0.23s ease-in-out;
  color: #F13C6E;
  margin-left: auto;
}
@media (min-width: 992px) {
  .header__tel {
    font-size: calc(0.0075431034 * 100vw + 8.5172413793px);
  }
}
@media (min-width: 1920px) {
  .header__tel {
    font-size: 23px;
  }
}
.header__tel:hover {
  text-decoration: underline;
}
.header__text {
  font-size: 14px;
  color: #fff;
}
.header__link {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  color: #0A8FCB;
  transition: color 0.23s ease-in-out;
}
.header__link:hover {
  text-decoration: underline;
}
.header__inner-box {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
}
.header__contacts {
  display: none;
  color: #fff;
}
.header__city {
  margin-top: 20px;
}
.header__city-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 10px;
}
.header__city-text {
  font-size: 14px;
  font-weight: 700;
}
.header__city-link {
  font-size: 14px;
  font-weight: 700;
  color: #02a7e0;
}
.header__city-link:hover {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .header__inner {
    background-color: #F7F8FA;
  }
  .header__inner-box {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 90px;
  }
  .header .btn, .header__phone, .header__box {
    display: none;
  }
  .header__contacts {
    display: flex;
    align-items: center;
  }
  .header__city {
    display: none;
  }
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
@media (min-width: 992px) {
  .menu__list {
    gap: calc(0.005387931 * 100vw + 9.6551724138px);
  }
}
@media (min-width: 1920px) {
  .menu__list {
    gap: 20px;
  }
}
.menu__item--hidden {
  display: none;
}
.menu__link {
  font-weight: 600;
  font-size: 14px;
  color: #000;
  transition: color 0.23s ease-in-out;
}
.menu__link:hover {
  color: #02A7E0;
}
.menu__link--active {
  color: #02A7E0;
}
.menu__link--accent {
  color: #FF6347;
}
.menu__close {
  position: relative;
  width: 16px;
  height: 16px;
  z-index: 5;
  cursor: pointer;
  margin-left: auto;
}
.menu__close::before, .menu__close::after {
  content: "";
  width: 16px;
  height: 2px;
  position: absolute;
  top: 50%;
  right: 0;
  background: #2B2B28;
  border-radius: 3px;
  transition: all 0.23s ease-in-out;
}
.menu__close::before {
  transform: translateY(-50%) rotate(45deg);
}
.menu__close::after {
  transform: translateY(-50%) rotate(-45deg);
}

@media (max-width: 992px) {
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transform: translateX(-200%);
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    background-color: #f2f2f2;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    flex-shrink: unset;
    transition: transform 0.23s ease-in-out, opacity 0.23s ease-in-out, visibility 0.23s ease-in-out, z-index 0.23s ease-in-out;
    overflow-y: auto;
  }
  .menu__list {
    flex-direction: column;
  }
  .menu--active {
    opacity: 1;
    visibility: visible;
    z-index: 3;
    transform: translateX(0%);
    transition: transform 0.23s ease-in-out, opacity 0.23s ease-in-out, visibility 0.23s ease-in-out, z-index 0.23s ease-in-out;
    justify-content: unset;
  }
  .menu__item {
    padding: 10px 0px;
  }
}
@media (max-width: 576px) {
  .menu {
    width: 100%;
  }
  .menu__item--hidden {
    display: block;
  }
  .menu__link {
    text-align: center;
  }
}
.burger {
  display: none;
}

@media (max-width: 992px) {
  .burger {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 12px 8px;
    z-index: 5;
    border-radius: 7px;
    cursor: pointer;
  }
  .burger__line {
    position: relative;
    display: block;
    width: 20px;
    height: 4px;
    border-radius: 3px;
    background: #EE4777;
    transition: all 0.23s ease-in-out;
  }
  .burger__line::before, .burger__line::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 20px;
    height: 4px;
    background: #EE4777;
    border-radius: 3px;
    transition: all 0.23s ease-in-out;
  }
  .burger__line::before {
    transform: translateX(-50%) translateY(-7px);
  }
  .burger__line::after {
    transform: translateX(-50%) translateY(7px);
  }
  .burger--active .burger__line {
    width: 0;
    background: transparent;
  }
  .burger--active .burger__line::before {
    transform: translateX(-50%) rotate(45deg);
  }
  .burger--active .burger__line::after {
    transform: translateX(-50%) rotate(-45deg);
  }
}
.logo__img {
  height: 50px;
  -o-object-fit: contain;
  object-fit: contain;
}
@media (min-width: 992px) {
  .logo__img {
    height: calc(0.0140086207 * 100vw + 36.1034482759px);
  }
}
@media (min-width: 1920px) {
  .logo__img {
    height: 63px;
  }
}

.btn {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 17px 32px;
  color: #fff;
  font-size: 16px;
  background-color: #99CB32;
  border-radius: 10px;
  transition: background-color 0.23s ease-in-out, color 0.23s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  background-color: #7DAF14;
}
.btn--center {
  margin-left: auto;
  margin-right: auto;
}
.btn--fw {
  font-weight: 700;
}
.btn--pink {
  padding: 10px 32px;
  background-color: #EF5D87;
}
.btn--pink:hover {
  background-color: #EE4777;
}
.btn--blue {
  background-color: #003F80;
}
.btn--blue:hover {
  background-color: #002C5A;
}
.btn--gray {
  border-radius: 3px;
  background-color: #787A7D;
  color: #000;
}
.btn--gray:hover {
  background-color: #57595c;
  color: #000;
}

.basket {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: #99CB32;
  padding: 19px;
}
.basket__num {
  font-weight: 700;
  color: #fff;
}

.search {
  min-width: 240px;
}
@media (min-width: 992px) {
  .search {
    min-width: calc(0.0646551724 * 100vw + 175.8620689655px);
  }
}
@media (min-width: 1920px) {
  .search {
    min-width: 300px;
  }
}
.search--alt {
  max-width: 344px;
  width: 100%;
}
.search--alt .search__input {
  background-color: #fff;
  border: 1px solid #F0F0F0;
  border-radius: 30px;
}
.search--alt .search__input::-moz-placeholder {
  color: #919191;
}
.search--alt .search__input::placeholder {
  color: #919191;
}
.search__label {
  position: relative;
  cursor: pointer;
}
.search__input {
  width: 100%;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-right: 44px;
  padding-left: 14px;
  background-color: #E8E9EB;
  font-size: 16px;
  font-size: 14px;
  color: #000;
}
@media (min-width: 992px) {
  .search__input {
    padding-right: calc(0.0129310345 * 100vw + 31.1724137931px);
  }
}
@media (min-width: 1920px) {
  .search__input {
    padding-right: 56px;
  }
}
@media (min-width: 992px) {
  .search__input {
    padding-left: calc(0.0086206897 * 100vw + 5.4482758621px);
  }
}
@media (min-width: 1920px) {
  .search__input {
    padding-left: 22px;
  }
}
@media (min-width: 992px) {
  .search__input {
    font-size: calc(0.0021551724 * 100vw + 11.8620689655px);
  }
}
@media (min-width: 1920px) {
  .search__input {
    font-size: 16px;
  }
}
.search__input::-moz-placeholder {
  color: #757575;
}
.search__input::placeholder {
  color: #757575;
}
.search__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;
  pointer-events: none;
}
@media (min-width: 992px) {
  .search__icon {
    right: calc(0.0086206897 * 100vw + 5.4482758621px);
  }
}
@media (min-width: 1920px) {
  .search__icon {
    right: 22px;
  }
}
.search__icon svg circle,
.search__icon svg path {
  transition: stroke 0.23s ease-in-out;
}

@media (max-width: 992px) {
  .search {
    position: absolute;
    right: 0;
    top: 0;
    min-width: unset;
  }
  .search--alt {
    display: none;
  }
  .search__input {
    width: 69px;
    transition: width 0.23s ease-in-out;
    padding-right: 55px;
  }
  .search__input:focus-within {
    width: 240px;
  }
  .search__input::-moz-placeholder {
    color: transparent;
  }
  .search__input::placeholder {
    color: transparent;
  }
  .search__icon {
    right: 23px;
  }
}
.dropdown {
  background-color: #F13C6E;
}
.dropdown__inner {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}
.dropdown__item {
  position: relative;
  border-left: 1px solid #ed7fa0;
}
.dropdown__item:last-child {
  border-right: 1px solid #ed7fa0;
}
.dropdown__item:hover .dropdown__hidden {
  visibility: visible;
  z-index: 1;
  opacity: 1;
}
.dropdown__item-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropdown__item-icon {
  display: none;
}
.dropdown__link {
  display: block;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 13px;
  color: #fff;
  white-space: nowrap;
}
@media (min-width: 992px) {
  .dropdown__link {
    padding-left: calc(0.0107758621 * 100vw + -5.6896551724px);
  }
}
@media (min-width: 1920px) {
  .dropdown__link {
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  .dropdown__link {
    padding-right: calc(0.0107758621 * 100vw + -5.6896551724px);
  }
}
@media (min-width: 1920px) {
  .dropdown__link {
    padding-right: 15px;
  }
}
.dropdown__hidden {
  position: absolute;
  min-width: 100%;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.23s ease-in-out;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
.dropdown__hidden-link {
  color: #000;
  font-size: 13px;
  padding: 5px 15px;
}

@media (max-width: 992px) {
  .dropdown {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-200%);
    background-color: #fff;
    visibility: hidden;
    transition: transform 0.23s ease-in-out, visibility 0.23s ease-in-out;
    overflow-y: auto;
  }
  .dropdown--active {
    opacity: 1;
    visibility: visible;
    z-index: 12;
    transform: translateX(0%);
    transition: transform 0.23s ease-in-out, visibility 0.23s ease-in-out;
    justify-content: unset;
  }
  .dropdown .container {
    max-width: 100%;
    padding: 0;
  }
  .dropdown__inner {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  .dropdown__item {
    border-left: none;
    border-bottom: 1px solid #e3e4e6;
  }
  .dropdown__item:last-child {
    border-right: none;
    border-bottom: 1px solid #e3e4e6;
  }
  .dropdown__item-box {
    padding: 10px 15px;
  }
  .dropdown__item-icon {
    display: flex;
    transition: transform 0.23s ease-in-out;
  }
  .dropdown__link {
    padding: 0;
    color: #000;
  }
  .dropdown__link br {
    display: none;
  }
  .dropdown__hidden {
    position: static;
    transform: unset;
    box-shadow: none;
    padding-left: 15px;
  }
  .dropdown__hidden--active .dropdown__item-icon {
    transform: rotateX(-180deg);
  }
}
.contactsModal {
  position: fixed;
  top: 120px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 11;
  background-color: #fff;
  transform: translate(-100%);
  transition: transform 0.23s ease-in-out, visibility 0.23s ease-in-out;
  overflow: auto;
}
.contactsModal--active {
  transform: translate(0%);
  visibility: visible;
}
.contactsModal__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #f4386c;
  font-size: 18px;
  color: #fff;
  border-bottom: 1px solid #e3e4e6;
}
.contactsModal__close {
  position: relative;
  padding: 12px;
  z-index: 5;
  cursor: pointer;
  margin-left: auto;
  border-radius: 50%;
  background-color: #fff;
}
.contactsModal__close::before, .contactsModal__close::after {
  content: "";
  width: 16px;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #f4386c;
  border-radius: 3px;
  transition: all 0.23s ease-in-out;
}
.contactsModal__close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.contactsModal__close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.contactsModal__link {
  padding: 15px;
  font-size: 18px;
  color: #000;
  border-bottom: 1px solid #e3e4e6;
}

.socials {
  display: flex;
  gap: 12px;
}
@media (min-width: 992px) {
  .socials {
    gap: calc(0.0086206897 * 100vw + 3.4482758621px);
  }
}
@media (min-width: 1920px) {
  .socials {
    gap: 20px;
  }
}
.socials__icon svg path {
  transition: fill 0.23s ease-in-out;
}
.socials__icon:hover svg path {
  fill: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 992px) {
  .form {
    gap: calc(0.005387931 * 100vw + 4.6551724138px);
  }
}
@media (min-width: 1920px) {
  .form {
    gap: 15px;
  }
}
.form .label {
  margin-right: 0;
}
.form .label span {
  font-size: 13px;
  color: #8c989f;
}
.form .label__inputCustom {
  width: 16px;
  height: 16px;
  min-width: 16px;
}
.form .label__inputCustom-icon {
  width: 10px;
  height: 6px;
}
.form__input {
  background: transparent;
  border: 1px solid #363c42;
  color: #8c989f;
  border-radius: 3px;
  padding: 6px;
  font-size: 14px;
}
.form__input::-moz-placeholder {
  color: #8c989f;
}
.form__input::placeholder {
  color: #8c989f;
}

.promo {
  margin-top: 20px;
  margin-bottom: 25px;
}
@media (min-width: 992px) {
  .promo {
    margin-top: calc(0.0215517241 * 100vw + -1.3793103448px);
  }
}
@media (min-width: 1920px) {
  .promo {
    margin-top: 40px;
  }
}
@media (min-width: 992px) {
  .promo {
    margin-bottom: calc(0.0161637931 * 100vw + 8.9655172414px);
  }
}
@media (min-width: 1920px) {
  .promo {
    margin-bottom: 40px;
  }
}
.promo__inner {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 992px) {
  .promo__inner {
    padding-top: calc(0.0172413793 * 100vw + 22.8965517241px);
  }
}
@media (min-width: 1920px) {
  .promo__inner {
    padding-top: 56px;
  }
}
@media (min-width: 992px) {
  .promo__inner {
    padding-bottom: calc(0.0204741379 * 100vw + 19.6896551724px);
  }
}
@media (min-width: 1920px) {
  .promo__inner {
    padding-bottom: 59px;
  }
}
@media (min-width: 992px) {
  .promo__inner {
    padding-left: calc(0.0323275862 * 100vw + -22.0689655172px);
  }
}
@media (min-width: 1920px) {
  .promo__inner {
    padding-left: 40px;
  }
}
@media (min-width: 992px) {
  .promo__inner {
    padding-right: calc(0.0323275862 * 100vw + -22.0689655172px);
  }
}
@media (min-width: 1920px) {
  .promo__inner {
    padding-right: 40px;
  }
}
.promo__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.promo__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: right;
  object-position: right;
}
.promo__box {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 992px) {
  .promo__box {
    max-width: calc(0.3987068966 * 100vw + -15.5172413793px);
  }
}
@media (min-width: 1920px) {
  .promo__box {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .promo__box {
    gap: calc(0.0086206897 * 100vw + 7.4482758621px);
  }
}
@media (min-width: 1920px) {
  .promo__box {
    gap: 24px;
  }
}
.promo__box-title {
  font-size: 24px;
  font-weight: 700;
  color: #EF5D87;
  line-height: 1.2;
}
@media (min-width: 992px) {
  .promo__box-title {
    font-size: calc(0.025862069 * 100vw + -1.6551724138px);
  }
}
@media (min-width: 1920px) {
  .promo__box-title {
    font-size: 48px;
  }
}
.promo__box-text {
  max-width: 250px;
  margin-bottom: 8px;
  font-size: 16px;
  color: #EF5D87;
  line-height: 1.2;
}
@media (min-width: 992px) {
  .promo__box-text {
    max-width: calc(0.3232758621 * 100vw + -70.6896551724px);
  }
}
@media (min-width: 1920px) {
  .promo__box-text {
    max-width: 550px;
  }
}
@media (min-width: 992px) {
  .promo__box-text {
    font-size: calc(0.0172413793 * 100vw + -1.1034482759px);
  }
}
@media (min-width: 1920px) {
  .promo__box-text {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .promo .container {
    padding: 0;
  }
  .promo__inner {
    padding: 40px 0 400px;
  }
  .promo__box {
    margin-left: auto;
    margin-right: auto;
  }
  .promo__box-title, .promo__box-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-wrap: balance;
  }
  .promo__box .btn {
    margin-left: auto;
    margin-right: auto;
  }
  .promo__img img {
    -o-object-position: bottom;
    object-position: bottom;
  }
}
@media (max-width: 768px) {
  .promo__inner {
    padding-bottom: 400px;
  }
  .promo__img img {
    -o-object-position: bottom;
    object-position: bottom;
  }
}
.breadcrumbs {
  margin-top: 25px;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .breadcrumbs {
    margin-top: calc(0.0161637931 * 100vw + 8.9655172414px);
  }
}
@media (min-width: 1920px) {
  .breadcrumbs {
    margin-top: 40px;
  }
}
@media (min-width: 992px) {
  .breadcrumbs {
    margin-bottom: calc(0.0215517241 * 100vw + 8.6206896552px);
  }
}
@media (min-width: 1920px) {
  .breadcrumbs {
    margin-bottom: 50px;
  }
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
  gap: 3px;
  overflow: auto;
}
.breadcrumbs__list-item {
  display: flex;
  gap: 3px;
}
.breadcrumbs__list-item:first-child .breadcrumbs__list-link {
  font-weight: 700;
  color: #EF5D87;
}
.breadcrumbs__list-item:not(:first-child)::before {
  content: "/";
  font-size: 14px;
  color: #666;
}
.breadcrumbs__list-item:last-child {
  pointer-events: none;
}
.breadcrumbs__list-link {
  font-size: 14px;
  color: #666;
  white-space: nowrap;
  transition: color 0.23s ease-in-out;
}
.breadcrumbs__list-link:hover {
  color: #EF5D87;
}

.title {
  font-size: 24px;
  margin-bottom: 32px;
  font-weight: 400;
}
@media (min-width: 992px) {
  .title {
    font-size: calc(0.025862069 * 100vw + -1.6551724138px);
  }
}
@media (min-width: 1920px) {
  .title {
    font-size: 48px;
  }
}
@media (min-width: 992px) {
  .title {
    margin-bottom: calc(0.025862069 * 100vw + 6.3448275862px);
  }
}
@media (min-width: 1920px) {
  .title {
    margin-bottom: 56px;
  }
}

@media (max-width: 992px) {
  .title {
    font-weight: 700;
  }
}
.chairs {
  margin-top: 40px;
  margin-bottom: 56px;
}
@media (min-width: 992px) {
  .chairs {
    margin-top: calc(0.0107758621 * 100vw + 29.3103448276px);
  }
}
@media (min-width: 1920px) {
  .chairs {
    margin-top: 50px;
  }
}
@media (min-width: 992px) {
  .chairs {
    margin-bottom: calc(0.0528017241 * 100vw + 3.6206896552px);
  }
}
@media (min-width: 1920px) {
  .chairs {
    margin-bottom: 105px;
  }
}
.chairs__top {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}
@media (min-width: 992px) {
  .chairs__top {
    gap: calc(0.0086206897 * 100vw + 7.4482758621px);
  }
}
@media (min-width: 1920px) {
  .chairs__top {
    gap: 24px;
  }
}
@media (min-width: 992px) {
  .chairs__top {
    margin-bottom: calc(0.0086206897 * 100vw + 23.4482758621px);
  }
}
@media (min-width: 1920px) {
  .chairs__top {
    margin-bottom: 40px;
  }
}
.chairs__top-filter {
  display: none;
  font-weight: 700;
  gap: 8px;
  font-size: 16px;
}
.chairs__sorting {
  display: flex;
  align-items: center;
  gap: 20px;
  overflow: auto;
}
@media (min-width: 992px) {
  .chairs__sorting {
    gap: calc(0.0129310345 * 100vw + 7.1724137931px);
  }
}
@media (min-width: 1920px) {
  .chairs__sorting {
    gap: 32px;
  }
}
.chairs__sorting:has(+ *) {
  margin-bottom: 24px;
}
@media (min-width: 992px) {
  .chairs__sorting:has(+ *) {
    margin-bottom: calc(0.0344827586 * 100vw + -10.2068965517px);
  }
}
@media (min-width: 1920px) {
  .chairs__sorting:has(+ *) {
    margin-bottom: 56px;
  }
}
.chairs__sorting-item {
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  cursor: pointer;
}
@media (min-width: 992px) {
  .chairs__sorting-item {
    font-size: calc(0.0021551724 * 100vw + 11.8620689655px);
  }
}
@media (min-width: 1920px) {
  .chairs__sorting-item {
    font-size: 16px;
  }
}
.chairs__sorting-item:hover, .chairs__sorting-item--active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.chairs__inner {
  display: grid;
  grid-template-columns: 344px 1fr;
  gap: 16px;
}
@media (min-width: 992px) {
  .chairs__inner {
    gap: calc(0.0086206897 * 100vw + 7.4482758621px);
  }
}
@media (min-width: 1920px) {
  .chairs__inner {
    gap: 24px;
  }
}
.chairs__items {
  width: 100%;
}
.chairs__items-box {
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .chairs__items-box {
    gap: calc(0.0086206897 * 100vw + 7.4482758621px);
  }
}
@media (min-width: 1920px) {
  .chairs__items-box {
    gap: 24px;
  }
}
@media (min-width: 992px) {
  .chairs__items-box {
    margin-bottom: calc(0.0086206897 * 100vw + 31.4482758621px);
  }
}
@media (min-width: 1920px) {
  .chairs__items-box {
    margin-bottom: 48px;
  }
}
.chairs__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.chairs__item-swiper {
  position: relative;
  width: 100%;
  margin-bottom: -5px;
}
.chairs__item-img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 323px;
  cursor: pointer;
}
.chairs__item-box {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px;
  background-color: #fff;
}
@media (min-width: 992px) {
  .chairs__item-box {
    padding-top: calc(0.0172413793 * 100vw + -1.1034482759px);
  }
}
@media (min-width: 1920px) {
  .chairs__item-box {
    padding-top: 32px;
  }
}
@media (min-width: 992px) {
  .chairs__item-box {
    padding-left: calc(0.0086206897 * 100vw + 7.4482758621px);
  }
}
@media (min-width: 1920px) {
  .chairs__item-box {
    padding-left: 24px;
  }
}
@media (min-width: 992px) {
  .chairs__item-box {
    padding-right: calc(0.0086206897 * 100vw + 7.4482758621px);
  }
}
@media (min-width: 1920px) {
  .chairs__item-box {
    padding-right: 24px;
  }
}
.chairs__item-title {
  font-size: 16px;
  font-weight: 700;
}
@media (min-width: 992px) {
  .chairs__item-title {
    font-size: calc(0.0021551724 * 100vw + 13.8620689655px);
  }
}
@media (min-width: 1920px) {
  .chairs__item-title {
    font-size: 18px;
  }
}
.chairs__item-title:has(+ *) {
  margin-bottom: 8px;
}
@media (min-width: 992px) {
  .chairs__item-title:has(+ *) {
    margin-bottom: calc(0.025862069 * 100vw + -17.6551724138px);
  }
}
@media (min-width: 1920px) {
  .chairs__item-title:has(+ *) {
    margin-bottom: 32px;
  }
}
.chairs__item-title:has(+ .chairs__item-price) {
  margin-bottom: 35px;
}
@media (min-width: 992px) {
  .chairs__item-title:has(+ .chairs__item-price) {
    margin-bottom: calc(0.0323275862 * 100vw + 2.9310344828px);
  }
}
@media (min-width: 1920px) {
  .chairs__item-title:has(+ .chairs__item-price) {
    margin-bottom: 65px;
  }
}
.chairs__item-priceOld {
  text-decoration: line-through;
  color: #676767;
}
.chairs__item-priceOld:has(+ *) {
  margin-bottom: 8px;
}
.chairs__item-price {
  font-size: 18px;
  font-weight: 700;
  color: #EF5D87;
}
@media (min-width: 992px) {
  .chairs__item-price {
    font-size: calc(0.0064655172 * 100vw + 11.5862068966px);
  }
}
@media (min-width: 1920px) {
  .chairs__item-price {
    font-size: 24px;
  }
}
.chairs__item-price:has(+ *) {
  margin-bottom: 24px;
}
.chairs__item .btn:has(+ *) {
  margin-bottom: 16px;
}
.chairs__elems {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}
@media (min-width: 992px) {
  .chairs__elems {
    gap: calc(0.0086206897 * 100vw + 7.4482758621px);
  }
}
@media (min-width: 1920px) {
  .chairs__elems {
    gap: 24px;
  }
}
.chairs__elem {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #E7E7E7;
  overflow: hidden;
}
@media (min-width: 992px) {
  .chairs__elem {
    padding: calc(0.0086206897 * 100vw + 7.4482758621px);
  }
}
@media (min-width: 1920px) {
  .chairs__elem {
    padding: 24px;
  }
}
.chairs__elem-type {
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  padding: 9px 16px;
  background-color: #EF5D87;
  font-size: 14px;
  margin-bottom: 16px;
}
@media (min-width: 992px) {
  .chairs__elem-type {
    font-size: calc(0.0021551724 * 100vw + 11.8620689655px);
  }
}
@media (min-width: 1920px) {
  .chairs__elem-type {
    font-size: 16px;
  }
}
.chairs__elem-img {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  height: 237px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 16px;
  cursor: pointer;
  border-radius: 10px;
}
.chairs__elem-title {
  font-size: 16px;
  margin-bottom: 16px;
}
@media (min-width: 992px) {
  .chairs__elem-title {
    font-size: calc(0.0021551724 * 100vw + 13.8620689655px);
  }
}
@media (min-width: 1920px) {
  .chairs__elem-title {
    font-size: 18px;
  }
}
.chairs__elem-price {
  font-size: 18px;
  font-weight: 700;
  color: #EF5D87;
}
@media (min-width: 992px) {
  .chairs__elem-price {
    font-size: calc(0.0064655172 * 100vw + 11.5862068966px);
  }
}
@media (min-width: 1920px) {
  .chairs__elem-price {
    font-size: 24px;
  }
}
.chairs__elem-price:has(+ *) {
  margin-bottom: 24px;
}
.chairs__elem .btn:has(+ *) {
  margin-bottom: 16px;
}

@media (max-width: 1600px) {
  .chairs__items-box {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 992px) {
  .chairs__sorting {
    width: 100%;
  }
  .chairs__top {
    flex-direction: column;
    align-items: start;
    gap: 48px;
  }
  .chairs__top-filter {
    display: flex;
  }
  .chairs__inner {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .chairs__items-box {
    grid-template-columns: 1fr;
  }
  .chairs__item-img {
    height: 364px;
  }
}
.filter {
  overflow: auto;
}
.filter__inner {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #fff;
  border: 1px solid #E7E7E7;
  padding-top: 32px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px;
  border-radius: 10px;
}
@media (min-width: 992px) {
  .filter__inner {
    padding-top: calc(0.0086206897 * 100vw + 23.4482758621px);
  }
}
@media (min-width: 1920px) {
  .filter__inner {
    padding-top: 40px;
  }
}
@media (min-width: 992px) {
  .filter__inner {
    padding-left: calc(0.0086206897 * 100vw + 7.4482758621px);
  }
}
@media (min-width: 1920px) {
  .filter__inner {
    padding-left: 24px;
  }
}
@media (min-width: 992px) {
  .filter__inner {
    padding-right: calc(0.0086206897 * 100vw + 7.4482758621px);
  }
}
@media (min-width: 1920px) {
  .filter__inner {
    padding-right: 24px;
  }
}
.filter__title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 8px;
}
@media (min-width: 992px) {
  .filter__title {
    font-size: calc(0.0107758621 * 100vw + 11.3103448276px);
  }
}
@media (min-width: 1920px) {
  .filter__title {
    font-size: 32px;
  }
}
.filter__title-icon {
  display: none;
}
.filter__items {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.filter__items-title {
  font-size: 18px;
  font-weight: 700;
}
@media (min-width: 992px) {
  .filter__items-title {
    font-size: calc(0.0064655172 * 100vw + 11.5862068966px);
  }
}
@media (min-width: 1920px) {
  .filter__items-title {
    font-size: 24px;
  }
}
.filter__items-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 26px;
}
.filter__items-input {
  width: 100%;
  padding: 16px 8px;
  font-size: 16px;
  border: 1px solid #C7C7C7;
  border-radius: 10px;
}
.filter__items-input::-moz-placeholder {
  color: #919191;
}
.filter__items-input::placeholder {
  color: #919191;
}
.filter__items-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.filter__items-link {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  color: #000;
  transition: color 0.23s ease-in-out;
}
.filter__items-link:hover {
  color: #02a7e0;
}

@media (max-width: 992px) {
  .filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: opacity 0.23s ease-in-out, visibility 0.23s ease-in-out, z-index 0.23s ease-in;
  }
  .filter--active {
    opacity: 1;
    z-index: 10;
    visibility: visible;
  }
  .filter__inner {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    border: none;
  }
  .filter__title {
    padding-bottom: 24px;
    border-bottom: 1px solid #d9d9d9;
  }
  .filter__title-icon {
    display: flex;
  }
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.pagination__list {
  display: flex;
  align-items: center;
  gap: 32px;
}
.pagination__list-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination__list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  background-color: #C7C7C7;
  transition: background-color 0.23s ease-in-out;
}
.pagination__list-link:hover, .pagination__list-link--active {
  background-color: #EF5D87;
}
.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  color: #EF5D87;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.pagination__link-icon {
  display: none;
  transform: rotate(-90deg);
}

@media (max-width: 992px) {
  .pagination {
    justify-content: start;
  }
  .pagination__link {
    font-size: 0;
  }
  .pagination__link-icon {
    display: flex;
  }
}
.info {
  margin-top: 56px;
  margin-bottom: 56px;
}
@media (min-width: 992px) {
  .info {
    margin-top: calc(0.0517241379 * 100vw + 4.6896551724px);
  }
}
@media (min-width: 1920px) {
  .info {
    margin-top: 104px;
  }
}
@media (min-width: 992px) {
  .info {
    margin-bottom: calc(0.0517241379 * 100vw + 4.6896551724px);
  }
}
@media (min-width: 1920px) {
  .info {
    margin-bottom: 104px;
  }
}
.info__title {
  max-width: 820px;
}
.info__inner {
  display: grid;
  grid-template-columns: 0.78fr 1fr;
  gap: 20px;
}
@media (min-width: 992px) {
  .info__inner {
    gap: calc(0.1400862069 * 100vw + -118.9655172414px);
  }
}
@media (min-width: 1920px) {
  .info__inner {
    gap: 150px;
  }
}
.info__item {
  counter-reset: num;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 992px) {
  .info__item {
    padding-top: calc(0.0215517241 * 100vw + -1.3793103448px);
  }
}
@media (min-width: 1920px) {
  .info__item {
    padding-top: 40px;
  }
}
@media (min-width: 992px) {
  .info__item {
    padding-bottom: calc(0.0107758621 * 100vw + 9.3103448276px);
  }
}
@media (min-width: 1920px) {
  .info__item {
    padding-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .info__item {
    padding-left: calc(0.0215517241 * 100vw + -1.3793103448px);
  }
}
@media (min-width: 1920px) {
  .info__item {
    padding-left: 40px;
  }
}
@media (min-width: 992px) {
  .info__item {
    padding-right: calc(0.0431034483 * 100vw + -22.7586206897px);
  }
}
@media (min-width: 1920px) {
  .info__item {
    padding-right: 60px;
  }
}
@media (min-width: 992px) {
  .info__item {
    gap: calc(0.0086206897 * 100vw + 7.4482758621px);
  }
}
@media (min-width: 1920px) {
  .info__item {
    gap: 24px;
  }
}
.info__item-text {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 16px;
}
@media (min-width: 992px) {
  .info__item-text {
    gap: calc(0.0086206897 * 100vw + 7.4482758621px);
  }
}
@media (min-width: 1920px) {
  .info__item-text {
    gap: 24px;
  }
}
.info__item-text:before {
  min-width: 40px;
  width: 40px;
  height: 40px;
  content: counter(num);
  counter-increment: num;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  background-color: #003F80;
  border-radius: 50%;
}
.info__img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  height: 300px;
  border-radius: 10px;
}
@media (min-width: 992px) {
  .info__img {
    height: calc(0.1497844828 * 100vw + 151.4137931034px);
  }
}
@media (min-width: 1920px) {
  .info__img {
    height: 439px;
  }
}

@media (max-width: 992px) {
  .info__inner {
    grid-template-columns: 1fr;
  }
  .info__item {
    background-color: transparent;
    padding: 0;
  }
  .info__img {
    display: none;
  }
}
.advantages {
  margin-top: 56px;
  margin-bottom: 56px;
}
@media (min-width: 992px) {
  .advantages {
    margin-top: calc(0.0517241379 * 100vw + 4.6896551724px);
  }
}
@media (min-width: 1920px) {
  .advantages {
    margin-top: 104px;
  }
}
@media (min-width: 992px) {
  .advantages {
    margin-bottom: calc(0.0517241379 * 100vw + 4.6896551724px);
  }
}
@media (min-width: 1920px) {
  .advantages {
    margin-bottom: 104px;
  }
}
.advantages__inner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}
.advantages__item {
  padding: 32px 24px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #E7E7E7;
}
.advantages__item-icon {
  width: 72px;
  height: 72px;
  margin-bottom: 24px;
}
.advantages__item-title {
  font-weight: 700;
  margin-bottom: 16px;
}
.advantages__item-text {
  font-size: 16px;
}

@media (max-width: 768px) {
  .advantages__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .advantages__item-text, .advantages__item-title {
    text-align: center;
    text-wrap: balance;
  }
}
.furniture {
  margin-top: 30px;
  margin-bottom: 56px;
}
@media (min-width: 992px) {
  .furniture {
    margin-top: calc(0.036637931 * 100vw + -6.3448275862px);
  }
}
@media (min-width: 1920px) {
  .furniture {
    margin-top: 64px;
  }
}
@media (min-width: 992px) {
  .furniture {
    margin-bottom: calc(0.0517241379 * 100vw + 4.6896551724px);
  }
}
@media (min-width: 1920px) {
  .furniture {
    margin-bottom: 104px;
  }
}
.furniture__inner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 16px;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
@media (min-width: 992px) {
  .furniture__inner {
    row-gap: calc(0.0431034483 * 100vw + -26.7586206897px);
  }
}
@media (min-width: 1920px) {
  .furniture__inner {
    row-gap: 56px;
  }
}
@media (min-width: 992px) {
  .furniture__inner {
    -moz-column-gap: calc(0.0086206897 * 100vw + 7.4482758621px);
         column-gap: calc(0.0086206897 * 100vw + 7.4482758621px);
  }
}
@media (min-width: 1920px) {
  .furniture__inner {
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
.furniture__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 16px;
  background-color: #fff;
  border: 1px solid #E7E7E7;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03);
}
.furniture__link:hover .furniture__link-title {
  color: #EF5D87;
}
.furniture__link-img {
  margin-top: auto;
  margin-bottom: auto;
  max-height: 231px;
}
.furniture__link-title {
  font-size: 20px;
  font-weight: 700;
  text-wrap: balance;
  text-align: center;
  color: #000;
  transition: color 0.23s ease-in-out;
}
@media (min-width: 992px) {
  .furniture__link-title {
    font-size: calc(0.0043103448 * 100vw + 15.724137931px);
  }
}
@media (min-width: 1920px) {
  .furniture__link-title {
    font-size: 24px;
  }
}

.information {
  margin-top: 56px;
  margin-bottom: 56px;
  background-color: #003F80;
  padding-top: 24px;
  padding-bottom: 24px;
}
@media (min-width: 992px) {
  .information {
    margin-top: calc(0.0517241379 * 100vw + 4.6896551724px);
  }
}
@media (min-width: 1920px) {
  .information {
    margin-top: 104px;
  }
}
@media (min-width: 992px) {
  .information {
    margin-bottom: calc(0.0517241379 * 100vw + 4.6896551724px);
  }
}
@media (min-width: 1920px) {
  .information {
    margin-bottom: 104px;
  }
}
@media (min-width: 992px) {
  .information {
    padding-top: calc(0.0086206897 * 100vw + 15.4482758621px);
  }
}
@media (min-width: 1920px) {
  .information {
    padding-top: 32px;
  }
}
@media (min-width: 992px) {
  .information {
    padding-bottom: calc(0.025862069 * 100vw + -1.6551724138px);
  }
}
@media (min-width: 1920px) {
  .information {
    padding-bottom: 48px;
  }
}
.information__title {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-wrap: balance;
  color: #fff;
  margin-bottom: 16px;
}
@media (min-width: 992px) {
  .information__title {
    font-size: calc(0.0086206897 * 100vw + 15.4482758621px);
  }
}
@media (min-width: 1920px) {
  .information__title {
    font-size: 32px;
  }
}
@media (min-width: 992px) {
  .information__title {
    margin-bottom: calc(0.0086206897 * 100vw + 7.4482758621px);
  }
}
@media (min-width: 1920px) {
  .information__title {
    margin-bottom: 24px;
  }
}
.information__text {
  max-width: 810px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  text-align: center;
  text-wrap: balance;
  color: #fff;
  margin-bottom: 24px;
}
@media (min-width: 992px) {
  .information__text {
    font-size: calc(0.0064655172 * 100vw + 11.5862068966px);
  }
}
@media (min-width: 1920px) {
  .information__text {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .information__text {
    margin-bottom: calc(0.0086206897 * 100vw + 15.4482758621px);
  }
}
@media (min-width: 1920px) {
  .information__text {
    margin-bottom: 32px;
  }
}

.reviews {
  margin-top: 56px;
  margin-bottom: 56px;
}
@media (min-width: 992px) {
  .reviews {
    margin-top: calc(0.0517241379 * 100vw + 4.6896551724px);
  }
}
@media (min-width: 1920px) {
  .reviews {
    margin-top: 104px;
  }
}
@media (min-width: 992px) {
  .reviews {
    margin-bottom: calc(0.0517241379 * 100vw + 4.6896551724px);
  }
}
@media (min-width: 1920px) {
  .reviews {
    margin-bottom: 104px;
  }
}
.reviews__swiper:has(+ *) {
  margin-bottom: 24px;
}
@media (min-width: 992px) {
  .reviews__swiper:has(+ *) {
    margin-bottom: calc(0.025862069 * 100vw + -1.6551724138px);
  }
}
@media (min-width: 1920px) {
  .reviews__swiper:has(+ *) {
    margin-bottom: 48px;
  }
}
.reviews__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #fff;
  border: 1px solid #E7E7E7;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}
@media (min-width: 992px) {
  .reviews__item {
    gap: calc(0.0086206897 * 100vw + 7.4482758621px);
  }
}
@media (min-width: 1920px) {
  .reviews__item {
    gap: 24px;
  }
}
@media (min-width: 992px) {
  .reviews__item {
    padding-top: calc(0.0086206897 * 100vw + 15.4482758621px);
  }
}
@media (min-width: 1920px) {
  .reviews__item {
    padding-top: 32px;
  }
}
@media (min-width: 992px) {
  .reviews__item {
    padding-bottom: calc(0.0086206897 * 100vw + 15.4482758621px);
  }
}
@media (min-width: 1920px) {
  .reviews__item {
    padding-bottom: 32px;
  }
}
@media (min-width: 992px) {
  .reviews__item {
    padding-left: calc(0.0086206897 * 100vw + 7.4482758621px);
  }
}
@media (min-width: 1920px) {
  .reviews__item {
    padding-left: 24px;
  }
}
@media (min-width: 992px) {
  .reviews__item {
    padding-right: calc(0.0086206897 * 100vw + 7.4482758621px);
  }
}
@media (min-width: 1920px) {
  .reviews__item {
    padding-right: 24px;
  }
}
.reviews__item-box {
  display: flex;
  align-items: center;
  gap: 12px;
}
@media (min-width: 992px) {
  .reviews__item-box {
    gap: calc(0.0043103448 * 100vw + 7.724137931px);
  }
}
@media (min-width: 1920px) {
  .reviews__item-box {
    gap: 16px;
  }
}
.reviews__item-user {
  border-radius: 50%;
  height: 56px;
  -o-object-fit: cover;
  object-fit: cover;
}
.reviews__item-text, .reviews__item-name {
  font-size: 16px;
}
.reviews__rating {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 576px) {
  .reviews__inner {
    grid-template-columns: 1fr;
  }
}
.confidence {
  margin-top: 56px;
  margin-bottom: 56px;
}
@media (min-width: 992px) {
  .confidence {
    margin-top: calc(0.0517241379 * 100vw + 4.6896551724px);
  }
}
@media (min-width: 1920px) {
  .confidence {
    margin-top: 104px;
  }
}
@media (min-width: 992px) {
  .confidence {
    margin-bottom: calc(0.0517241379 * 100vw + 4.6896551724px);
  }
}
@media (min-width: 1920px) {
  .confidence {
    margin-bottom: 104px;
  }
}
.confidence__inner {
  position: relative;
}
.confidence__swiper {
  width: 85%;
}
.confidence__item {
  display: flex;
  flex-direction: column;
  gap: 24px auto;
  padding-top: 48px;
  padding-bottom: 32px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #e7e7e7;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}
@media (min-width: 992px) {
  .confidence__item {
    padding-top: calc(0.0043103448 * 100vw + 43.724137931px);
  }
}
@media (min-width: 1920px) {
  .confidence__item {
    padding-top: 52px;
  }
}
.confidence__item-title {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
.confidence__item-img {
  margin-left: auto;
  margin-right: auto;
  height: 88px;
}

@media (max-width: 992px) {
  .confidence__swiper {
    width: 100%;
    overflow: visible;
  }
}
.awards {
  margin-top: 56px;
  margin-bottom: 56px;
}
@media (min-width: 992px) {
  .awards {
    margin-top: calc(0.0517241379 * 100vw + 4.6896551724px);
  }
}
@media (min-width: 1920px) {
  .awards {
    margin-top: 104px;
  }
}
@media (min-width: 992px) {
  .awards {
    margin-bottom: calc(0.0517241379 * 100vw + 4.6896551724px);
  }
}
@media (min-width: 1920px) {
  .awards {
    margin-bottom: 104px;
  }
}
.awards__inner {
  position: relative;
}
.awards__swiper {
  width: 85%;
}
.awards__swiper-img {
  width: 100%;
  height: 317px;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
}

@media (max-width: 992px) {
  .awards__swiper {
    width: 100%;
    overflow: visible;
  }
}
.partners {
  margin-top: 56px;
  margin-bottom: 56px;
}
@media (min-width: 992px) {
  .partners {
    margin-top: calc(0.0517241379 * 100vw + 4.6896551724px);
  }
}
@media (min-width: 1920px) {
  .partners {
    margin-top: 104px;
  }
}
@media (min-width: 992px) {
  .partners {
    margin-bottom: calc(0.0517241379 * 100vw + 4.6896551724px);
  }
}
@media (min-width: 1920px) {
  .partners {
    margin-bottom: 104px;
  }
}
.partners__swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 168px;
}
.partners__swiper-img {
  max-height: 72px;
  height: 72px;
  -o-object-fit: contain;
  object-fit: contain;
}
.partners__swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion__content,
.accordionAlt__content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.23s ease-in-out;
}
.accordion__content--pos,
.accordionAlt__content--pos {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  z-index: 1;
}

.check {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
}

.label {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 8px;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}
.label a {
  color: #8c989f;
}
.label span {
  color: #919191;
}
.label__input:checked + .label__inputCustom {
  background-color: #002C5A;
}
.label__input:checked + .label__inputCustom .label__inputCustom-icon {
  visibility: visible;
}
.label__inputCustom {
  position: relative;
  min-width: 24px;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  border: 1px solid #C7C7C7;
  background-color: #fff;
  transition: background-color 0.23s ease-in-out;
}
.label__inputCustom-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 13px;
  visibility: hidden;
  transition: visibility 0.23s ease-in-out;
}
.label__inputCustom-icon svg path {
  transition: stroke 0.23s ease-in-out;
}

.select2 {
  display: block;
  width: 100% !important;
}
.select2-search--dropdown {
  display: none;
}
.select2-selection {
  border-radius: 10px;
  background-color: #ced4db;
}
.select2-selection__arrow {
  top: 50%;
  transform: translateY(-50%);
}
.select2-selection__arrow::before, .select2-selection__arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 7px;
  height: 2px;
  background-color: #676767;
  transition: transform 0.23s ease-in-out;
  border-radius: 50px;
  pointer-events: none;
  z-index: 3;
}
.select2-selection__arrow::before {
  right: 15px;
  transform: rotate(45deg);
}
.select2-selection__arrow::after {
  right: 11px;
  transform: rotate(-45deg);
}
.select2-dropdown {
  border-radius: 10px;
}
.select2-results {
  background-color: #fff;
  border: 1px solid #C7C7C7;
  border-radius: 10px;
}
.select2-results__options {
  transition: max-height 0.23s ease-in-out;
}
.select2-results__options::-webkit-scrollbar {
  width: 3px;
  height: 0;
  background-color: transparent;
}
.select2-results__options::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}
.select2-results__option {
  color: #676767;
  font-size: 14px;
  padding: 10px;
  padding-left: 20px;
  transition: color 0.23s ease-in-out;
}
.select2-container.select2-container--open .select2-dropdown--below {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0 0 10px 10px;
}
.select2-container.select2-container--open .select2-dropdown--above {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 10px 10px 0 0;
}
.select2-container.select2-container--open .select2-selection__arrow::before {
  transform: rotate(-45deg);
}
.select2-container.select2-container--open .select2-selection__arrow::after {
  transform: rotate(45deg);
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: transparent;
  color: #02a7e0;
}
.select2-container--default .select2-results__options {
  height: 80px;
}
.select2-container--default .select2-results__option--selected {
  color: #676767;
  background-color: transparent;
}
.select2-container--default .select2-selection--single {
  background-color: #fff;
  outline: none;
  line-height: 1;
  padding: 0;
  border: none;
  height: auto;
  border-radius: 10px;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #676767;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #676767;
  outline: none;
  line-height: 1;
  font-size: 14px;
  padding: 20px 15px;
  border: 1px solid #C7C7C7;
  border-radius: 10px;
}
.select2 b {
  display: none !important;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  height: 35px;
  z-index: 10;
  pointer-events: none;
}
@media (min-width: 992px) {
  .arrow {
    gap: calc(0.0043103448 * 100vw + 7.724137931px);
  }
}
@media (min-width: 1920px) {
  .arrow {
    gap: 16px;
  }
}
@media (min-width: 992px) {
  .arrow {
    height: calc(0.0140086207 * 100vw + 21.1034482759px);
  }
}
@media (min-width: 1920px) {
  .arrow {
    height: 48px;
  }
}
.arrow--alt .arrow__next, .arrow--alt .arrow__prev {
  background-color: #BDBDBD;
}
.arrow--alt .arrow__prev::before {
  background-image: url("../../assets/images/icons/arrow-left-swiper-white.svg");
}
.arrow--alt .arrow__next::before {
  background-image: url("../../assets/images/icons/arrow-right-swiper-white.svg");
}
.arrow__next, .arrow__prev {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  transition: background-color 0.23s ease-in-out, opacity 0.23s ease-in-out, border 0.23s ease-in-out;
  border-radius: 50%;
  right: unset;
  left: unset;
  margin-top: unset;
  top: unset;
  background-color: #fff;
  pointer-events: auto;
}
.arrow__next:hover, .arrow__prev:hover {
  background-color: #02a7e0;
}
.arrow__next::after, .arrow__prev::after {
  content: none;
}
.arrow__next::before, .arrow__prev::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: contain;
}
.arrow__next.swiper-button-lock, .arrow__prev.swiper-button-lock {
  display: none;
}
.arrow__prev::before {
  background-image: url("../../assets/images/icons/arrow-left-swiper.svg");
}
.arrow__next::before {
  background-image: url("../../assets/images/icons/arrow-right-swiper.svg");
}
.arrow--slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 99%;
  justify-content: space-between;
  z-index: 11;
  pointer-events: none;
}
.arrow--slider .arrow__prev, .arrow--slider .arrow__next {
  border-color: #BDBDBD;
  background-color: rgba(255, 255, 255, 0.8);
  pointer-events: auto;
}
.arrow--slider .arrow__prev:hover, .arrow--slider .arrow__next:hover {
  background-color: #FAB700;
  border-color: #FAB700;
}
.arrow--slider .arrow__prev.swiper-button-disabled, .arrow--slider .arrow__next.swiper-button-disabled {
  opacity: 0;
}

@media (max-width: 992px) {
  .arrow {
    display: none;
  }
}
.tab__info {
  display: none;
  opacity: 0;
  transition: opacity 0.23s ease-in-out;
}
.tab__info--active {
  display: block;
}
.tab__info--opacity {
  opacity: 1;
}

.footer {
  background-color: #23282d;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 992px) {
  .footer {
    padding-top: calc(0.0215517241 * 100vw + 8.6206896552px);
  }
}
@media (min-width: 1920px) {
  .footer {
    padding-top: 50px;
  }
}
@media (min-width: 992px) {
  .footer {
    padding-bottom: calc(0.0215517241 * 100vw + 8.6206896552px);
  }
}
@media (min-width: 1920px) {
  .footer {
    padding-bottom: 50px;
  }
}
.footer__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
@media (min-width: 992px) {
  .footer__inner {
    gap: calc(0.005387931 * 100vw + 9.6551724138px);
  }
}
@media (min-width: 1920px) {
  .footer__inner {
    gap: 20px;
  }
}
.footer__item {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.footer__item-title {
  margin-bottom: 6px;
  font-size: 15px;
  color: #fff;
  font-weight: 700;
}
@media (min-width: 992px) {
  .footer__item-title {
    margin-bottom: calc(0.0086206897 * 100vw + -2.5517241379px);
  }
}
@media (min-width: 1920px) {
  .footer__item-title {
    margin-bottom: 14px;
  }
}
.footer__item-text {
  font-size: 13px;
  color: #656b74;
}
.footer__item-text:has(+ .footer__video) {
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .footer__item-text:has(+ .footer__video) {
    margin-bottom: calc(0.005387931 * 100vw + 4.6551724138px);
  }
}
@media (min-width: 1920px) {
  .footer__item-text:has(+ .footer__video) {
    margin-bottom: 15px;
  }
}
.footer__item-text a {
  white-space: nowrap;
  font-size: 15px;
  color: #8c989f;
  transition: color 0.23s ease-in-out;
}
.footer__item-text a:hover {
  color: #fff;
}
.footer__item-link {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 13px;
  color: #656b74;
  transition: color 0.23s ease-in-out;
}
.footer__item-link--bold {
  font-weight: 700;
  color: #8c989f;
}
.footer__item-link:hover {
  color: #fff;
}
.footer__video {
  max-width: 274px;
  height: 150px;
}
.footer__video iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  .footer__inner {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .footer__inner {
    grid-template-columns: 1fr;
  }
  .footer__video {
    margin-left: auto;
    margin-right: auto;
  }
}/*# sourceMappingURL=style.css.map */