.info {
	&__inner {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 90px 40px;
	}

	&__item {
		display: flex;
		flex-direction: column;

		&-img {
			-o-object-fit: cover;
			object-fit: cover;
			border-radius: 15px;
			margin-bottom: 25px;
		}

		&-title {
			font-weight: 600;
			font-size: 28px;
			line-height: 1.17;
			margin-bottom: 20px;
		}

		&-text {
			font-size: 18px;
			line-height: 1.55;
			margin-bottom: 30px;
		}
	}

	&__modal {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(0, 0, 0, 0.5);
		opacity: 0;
		visibility: hidden;
		z-index: -1;
		transition: opacity 0.23s ease-in-out, visibility 0.23s ease-in-out, z-index 0.23s ease-in-out;

		&--active {
			opacity: 1;
			visibility: visible;
			z-index: 20;
		}

		&-box {
			position: relative;
			width: 95%;
			height: 95%;
			padding: 50px 28px;
			background-color: #fff;
			border-radius: 15px;
			overflow: hidden;
		}

		&-close {
			position: absolute;
			top: 20px;
			right: 20px;
			width: 20px;
			height: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: auto;
			z-index: 5;
			cursor: pointer;

			&::before,
			&::after {
				content: '';
				position: absolute;
				left: 50%;
				width: 20px;
				height: 3px;
				background-color: #000;
				transition: transform 0.23s ease-in-out, background-color 0.23s ease-in-out, width 0.23s ease-in-out;
			}

			&::before {
				transform: translateX(-50%) rotate(45deg);
			}

			&::after {
				transform: translateX(-50%) rotate(-45deg);
			}
		}
	}

	&__article {
		height: 100%;
        padding-right: 8px;
		overflow: auto;

		h3 {
			margin-bottom: 30px;
		}

		p {
			&:has(+ *) {
				margin-bottom: 20px;
			}

            + .imgCenter {
                margin-top: 20px;
                margin-bottom: 20px;
            }
		}

	}
}

@media (max-width: 992px) {
	.info {
		&__inner {
			grid-template-columns: 1fr;
			gap: 60px;
		}

		&__item {
			&-img {
				margin-bottom: 5px;
			}

			&-title {
				font-size: 24px;
				margin-bottom: 13px;
			}

			&-text {
				font-size: 14px;
				margin-bottom: 25px;
			}
		}
	}
}
