.menu {
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include fluid(gap, 15px, 20px);
  }

  &__item {
    position: relative;

    &:hover {
      .menu__dropdown {
        visibility: visible;
        z-index: 5;
        opacity: 1;
      }
    }

    &--hidden {
      display: none;
    }
  }

  &__link {
    font-weight: 600;
    font-size: 14px;
    color: #000;
    transition: color .23s ease-in-out;

    &:hover {
      color: #02A7E0;
    }

    &--active {
      color: #02A7E0;
    }

    &--accent {
      color: #FF6347;
    }
  }

  &__dropdown {
    position: absolute;
    min-width: 100%;
    top: 100%;
    left: 0;
    opacity: 0;
    z-index: -1;
    overflow: hidden;
    padding: 15px 0;
    transition: visibility 0.23s ease-in-out, z-index 0.23s ease-in-out, opacity 0.23s ease-in-out;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);

    &--grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }

    &-link {
      color: #000;
      font-size: 13px;
      white-space: nowrap;
      padding: 5px 20px;
      transition: background-color 0.23s ease-in-out;

      &:hover {
        background-color: #e1e1e1;
      }
    }

    &-title {
      font-weight: 700;
      font-size: 14px;
      margin: 10px 20px;
      white-space: nowrap;
      color: #3e434a;
    }

    &-box {
      display: flex;
      flex-direction: column;

      &:last-child {
        grid-column: 2/3;
      }
    }
  }

  &__close {
    position: relative;
    width: 16px;
    height: 16px;
    z-index: 5;
    cursor: pointer;
    margin-left: auto;

    &::before,
    &::after {
      content: "";
      width: 16px;
      height: 2px;
      position: absolute;
      top: 50%;
      right: 0;
      background: #2B2B28;
      border-radius: 3px;
      transition: all .23s ease-in-out;
    }

    &::before {
      transform: translateY(-50%) rotate(45deg);
    }

    &::after {
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}

@media (max-width: 992px) {
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transform: translateX(-200%);
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    background-color: #f2f2f2;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    flex-shrink: unset;
    transition: transform .23s ease-in-out, opacity .23s ease-in-out, visibility .23s ease-in-out, z-index .23s ease-in-out;
    overflow-y: auto;

    &__list {
      flex-direction: column;
    }

    &--active {
      opacity: 1;
      visibility: visible;
      z-index: 3;
      transform: translateX(0%);
      transition: transform .23s ease-in-out, opacity .23s ease-in-out,
        visibility .23s ease-in-out,
        z-index .23s ease-in-out;
      justify-content: unset;
    }

    &__item {
      padding: 10px 0px;
    }
  }
}

@media (max-width: 576px) {
  .menu {
    width: 100%;

    &__item {
      &--hidden {
        display: block;
      }
    }

    &__link {
      text-align: center;
    }
  }
}