.menu {
	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 30px;

		&-item {
			display: flex;
			align-items: center;
			gap: 30px;
		}

		&-link {
			font-weight: 600;
            font-size: 16px;
			color: #000;
			text-decoration: none;
			transition: color 0.23s ease-in-out, text-shadow 0.23s ease-in-out;
		}
	}
}

@media (max-width: 992px) {
	.menu {
		width: 100%;
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
        padding-top: 20px;
        padding-bottom: 40px;
		background-color: #fff;
		opacity: 0;
		visibility: hidden;
		z-index: -1;
		transition: opacity 0.23s ease-in-out, visibility 0.23s ease-in-out, z-index 0.23s ease-in-out;
		overflow-y: auto;

		&--active {
			opacity: 1;
			visibility: visible;
			z-index: 3;
		}

		&__list {
			flex-direction: column;

			&-item {
				flex-direction: column;
			}

			&-link {
				flex-grow: 1;
				width: 100%;
				text-align: center;
				color: #000;
				font-weight: 600;
			}
		}
	}
}
