.promo {
  @include fluid(margin-top, 20px, 40px);
  @include fluid(margin-bottom, 25px, 40px);

  &__link {
    display: block;
    height: 430px;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      -o-object-position: left;
      object-position: left
    }
  }
}

@media(max-width: 768px) {
  .promo {
    .container {
      padding: 0;
    }

    &__inner {
      padding: 40px 0 400px;
    }

    &__img {
      img {
        -o-object-position: bottom;
        object-position: bottom;
      }
    }
  }
}

@media(max-width: 768px) {
  .promo {
    &__link {
      height: 280px;
    }
  }
}

@media(max-width: 576px) {
  .promo {
    &__link {
      height: 640px;
    }
  }
}