.promo {
  @include fluid(margin-top, 20px, 40px);
  @include fluid(margin-bottom, 25px, 40px);

  &__link {
    display: block;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media(max-width: 768px) {
  .promo {
    .container {
      padding: 0;
    }
  }
}