.search {
  @include fluid(min-width, 240px, 300px);

  &--alt {
    max-width: 344px;
    width: 100%;

    .search {

      &__input {
        background-color: #fff;
        border: 1px solid #F0F0F0;
        border-radius: 30px;

        &::-webkit-input-placeholder {
          color: #919191;
        }

        &::-moz-placeholder {
          color: #919191;
        }

        &:-ms-input-placeholder {
          color: #919191;
        }

        &::-ms-input-placeholder {
          color: #919191;
        }

        &::placeholder {
          color: #919191;
        }
      }
    }
  }

  &__label {
    position: relative;
    cursor: pointer;
  }

  &__input {
    width: 100%;
    padding-top: 22px;
    padding-bottom: 22px;
    @include fluid(padding-right, 44px, 56px);
    @include fluid(padding-left, 14px, 22px);
    background-color: #E8E9EB;
    font-size: 16px;
    @include fluid(font-size, 14px, 16px);
    color: #000;

    &::-webkit-input-placeholder {
      color: #757575;
    }

    &::-moz-placeholder {
      color: #757575;
    }

    &:-ms-input-placeholder {
      color: #757575;
    }

    &::-ms-input-placeholder {
      color: #757575;
    }

    &::placeholder {
      color: #757575;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include fluid(right, 14px, 22px);
    pointer-events: none;

    svg {

      circle,
      path {
        transition: stroke 0.23s ease-in-out;
      }
    }
  }
}

@media(max-width: 992px) {
  .search {
    position: absolute;
    right: 0;
    top: 0;
    min-width: unset;

    &--alt {
      display: none;
    }

    &__input {
      width: 69px;
      transition: width .23s ease-in-out;
      padding-right: 55px;

      &:focus-within {
        width: 240px;
      }

      &::-webkit-input-placeholder {
        color: transparent;
      }

      &::-moz-placeholder {
        color: transparent;
      }

      &:-ms-input-placeholder {
        color: transparent;
      }

      &::-ms-input-placeholder {
        color: transparent;
      }

      &::placeholder {
        color: transparent;
      }
    }

    &__icon {
      right: 23px;
    }
  }
}